/* Klasické */

.chyba {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: rgb(190, 42, 42);
}

.velky-ramecek {
  border: 2px solid rgb(0, 0, 0);
}

.velka {
  font-size: 2rem;
}

.cervena {
  color: rgb(190, 42, 42);
}

.cerveny-article a:hover img,
.cerveny-article a:active img {
  border: 1px solid #3a82a3;
}

.tlacitka {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.malatlacitka {
  display: initial;
}

.hlavicka-odkazy {
  text-decoration: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  font-size: 2rem;
}

/* Tlačítka */

.one {
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 2;
}
.three {
  grid-column: 3;
  grid-row: 1;
}

.four {
  grid-column: 1;
  grid-row: 2;
}

.five {
  grid-column: 3;
  grid-row: 2;
}

.six {
  grid-column: 1;
  grid-row: 3;
}

.seven {
  grid-column: 3;
  grid-row: 3;
}

.menu {
  display: flex;
  list-style-type: none;
}

.malemenu {
  display: list-item;
  list-style-type: none;
}
h1.malemenu {
  margin-right: 0;
}

/* Speciální */

button.neaktivni:hover,
button.neaktivni:active {
  border-color: #3a82a3;
  cursor: pointer;
  color: #3a82a3;
}

button.aktivni {
  border-color: #3a82a3;
  color: #3a82a3;
  background-color: #eefcd3;
  cursor: not-allowed;
}

.hlavicka-odkazy:hover,
.hlavicka-odkazy:active {
  border-bottom-color: #3a82a3;
}

/* IDs */

#pInput {
  display: none;
}

#h1 {
  text-transform: none;
}
