/* Klasické */

.velky-ramecek {
  border: 2px solid rgb(149, 153, 158);
}

.chyba {
  font-size: 5rem;
  color: rgb(201, 51, 51);
}

.cervena {
  color: rgb(201, 51, 51);
}

.velka {
  font-size: 2rem;
}

.cerveny-article {
  border: 1px solid rgb(201, 51, 51);
  color: rgb(201, 51, 51);
}

.cerveny-article a img {
  border: 1px solid rgb(201, 51, 51);
}

.cerveny-article a:hover img,
.cerveny-article a:active img {
  border: 1px solid #0f98ba;
}

.tlacitka {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.malatlacitka {
  display: initial;
}

.cerveny-article {
  border: 1px solid rgb(201, 51, 51);
  color: rgb(201, 51, 51);
}

.cerveny-article a img {
  border: 1px solid rgb(201, 51, 51);
  border-radius: 2rem;
  margin: 1rem;
  padding: 0.5rem;
}

.cerveny-article a:hover img,
.cerveny-article a:active img {
  border: 1px solid #0f98ba;
}

/* Tlačítka */

.one {
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}

.four {
  grid-column: 1;
  grid-row: 2;
}

.five {
  grid-column: 2;
  grid-row: 2;
}

.six {
  grid-column: 3;
  grid-row: 2;
}

.seven {
  grid-column: 1;
  grid-row: 3;
}

.eight {
  grid-column: 3;
  grid-row: 3;
}

/* Speciální */

button.neaktivni:hover,
button.neaktivni:active {
  border-color: #0f98ba;
  cursor: pointer;
  color: #0f98ba;
}

button.aktivni {
  border-color: rgba(149, 153, 158, 0.35);
  color: rgba(149, 153, 158, 0.35);
  background-color: #0b0e31;
  cursor: not-allowed;
}

/* IDs */

#pInput {
  display: none;
}
