/* Hlavní */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background: #0b0e31;
  font-family: "Poppins", Ubuntu, Roboto, sans-serif;
  color: rgb(149, 153, 158);
  text-align: center;
  max-width: 1000px;
  margin: 1rem auto;
  outline: none;
}

ul {
  display: none;
  list-style-position: inside;
}

p,
li {
  font-size: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

article {
  border: 1px solid rgb(149, 153, 158);
  border-radius: 2rem;
  margin: 3rem;
  padding: 1rem;
}

button:hover,
button:active {
  border-color: #0f98ba;
  cursor: pointer;
  color: #0f98ba;
}

button {
  background: inherit;
  min-width: 6rem;
  color: inherit;
  border: 1px solid rgb(149, 153, 158);
  font-size: 1.25rem;
  font-family: inherit;
  border-radius: 2rem;
  margin: 1rem auto;
  padding: 0.5rem;
}

a {
  color: rgb(149, 153, 158);
}

input {
  background: inherit;
  border: 1px solid rgb(149, 153, 158);
  border-radius: 2rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  margin: 1rem auto;
  padding: 0.2rem 1rem;
  text-align: center;
  max-width: 8rem;
}

a img {
  border: 1px solid rgb(149, 153, 158);
  border-radius: 2rem;
  margin: 1rem;
  padding: 0.5rem;
}

strong h2 {
  font-weight: bold;
}

select {
  border: 1px solid rgb(149, 153, 158);
  color: rgb(149, 153, 158);
  background: inherit;
  font-size: 1.25rem;
  font-weight: normal;
  font-family: inherit;
  border-radius: 2rem;
  margin: 1rem auto;
  padding: 0.5rem;
  display: none;
  cursor: pointer;
  text-align: center;
  outline: none;
}

option {
  color: #0b0e31;
  font-family: inherit;
  outline: none;
}

optgroup {
  color: #0b0e31;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  outline: none;
}

/* Speciální */

input:focus {
  border: 1px solid rgb(149, 153, 158);
  border-radius: 2rem;
  margin: 1rem auto;
  padding: 0.2rem 1rem;
  text-align: center;
}

a:hover img,
a:active img {
  border: 1px solid #0f98ba;
}

a:hover,
a:active {
  color: #0f98ba;
}
