/* Hlavní */

:root {
  --text: #000000;
  --hover: #3a82a3;
}

@font-face {
  font-family: "Comfortaa bold";
  src: url(./Comfortaa-Bold.ttf);
}

@font-face {
  font-family: "Comfortaa light";
  src: url(./Comfortaa-Light.ttf);
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0 2rem 0 0;
}

body > header {
  display: flex;
  height: 100%;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2rem;
}

body {
  font-family: "Comfortaa light", Ubuntu, Roboto, sans-serif;
  background: #eefcd3;
  color: var(--text);
  text-align: center;
  max-width: 1000px;
  margin: 1rem auto;
  outline: none;
}

ul {
  display: none;
  list-style-position: inside;
}

p,
li {
  font-size: 1.5rem;
  margin: 0.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}
article {
  border: 1px solid var(--text);
  border-radius: 2rem;
  margin: 3rem;
  padding: 1rem;
}

button:hover,
button:active {
  border-color: var(--hover);
  cursor: pointer;
  color: var(--hover);
}

button {
  background: inherit;
  min-width: 6rem;
  color: inherit;
  border: 1px solid var(--text);
  font-size: 1.25rem;
  font-family: inherit;
  border-radius: 2rem;
  margin: 1rem auto;
  padding: 0.5rem;
}

a {
  color: var(--text);
}

input {
  background: inherit;
  border: 1px solid var(--text);
  border-radius: 2rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  margin: 1rem auto;
  padding: 0.2rem 1rem;
  text-align: center;
  max-width: 8rem;
}

a img {
  border: 1px solid var(--text);
  border-radius: 2rem;
  margin: 1rem;
  padding: 0.5rem;
}

strong h2 {
  font-weight: bold;
}

select {
  border: 1px solid var(--text);
  color: var(--text);
  background: inherit;
  font-size: 1.25rem;
  font-weight: normal;
  font-family: inherit;
  border-radius: 2rem;
  margin: 1rem auto;
  padding: 0.5rem;
  display: none;
  cursor: pointer;
  text-align: center;
  outline: none;
}

option {
  font-family: inherit;
  outline: none;
}

strong {
  font-weight: normal;
  font: "Comfortaa bold", Ubuntu, Roboto, sans-serif;
}

/*  Speciální  */

input:focus {
  border: 1px solid var(--text);
  border-radius: 2rem;
  margin: 1rem auto;
  padding: 0.2rem 1rem;
  text-align: center;
}

a:hover img,
a:active img {
  border: 1px solid var(--hover);
}

a:hover,
a:active {
  color: var(--hover);
}
